img {
  width: 600px;
  height: 250px;
  border-style: 300px;
  object-fit: cover;
  image-rendering: optimizeQuality;
}
body {
  font-size: 23px;
  background: rgba(128, 0, 128, 0.733);
}
p {
  font-size: 23px;
  color: rgb(218, 166, 166);
}
h2 {
  color: rgb(202, 154, 154);
}
